$main-color-text: #212121;
$text-bold: 700;
$text-medium: 500;
$text-regular: 400;
$text-light: 300;
$text-thin: 100;
$roboto: 'Roboto', sans-serif;
%transition_3 { 
  -webkit-transition:  .4s ease-out;
  -moz-transition: .4s ease-out;
  -o-transition: .4s ease-out;
  transition: .4s ease-out;
}

body, html {
  font-family: 'Roboto', sans-serif;
  font-size: 16px; 
  color: $main-color-text; 
}
main {
  background: #fcfcfc;
}
h1,h2,h3,h4,h5,h6,strong,span {
  font-family: $roboto; 
}
.uk-text-bold-title {
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
  font-size: 35px;
}
.uk-heading-line>:after, .uk-heading-line>:before {
  border-bottom: 1px solid #bcbcbc;
}
// h2.uk-heading-line {
//  font-weight: 700;
//  font-family: 'Roboto', sans-serif; 
// }
.header-top {
  height: 100px;
  nav {
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      li {
        padding: 0 30px; 
        a {
          color: $main-color-text; 
          font-weight: $text-bold; 
          @extend %transition_3;
          &:hover {
            text-decoration: none;
            color: #00943a;
          }
        }
      }
    }
  }
  .menu-header-menu-container ul li.current-menu-item a {
    color: #00943a;
  }
  .uk-navbar-toggle {
    height: 100% ;
  }
  .uk-search-header {
    input {
      border: 1px solid $main-color-text;
      padding: 5px 10px; 
      &:focus {
        outline: 1px solid #00943a;
        border: 1px solid #b4b4b4;
      } 
    }
    button {
      color: #FFF;
      background-color: $main-color-text;
      border: 0;
      padding: 6px 15px;
      cursor: pointer;
      @extend %transition_3;
      &:hover {
        background-color: #008b2e;
        
      }
    }
  }
  .menu-cart-menu-container {
    ul {
      list-style: none;
      a {
        color: #212121;
        font-weight: 700;
        @extend %transition_3;
        &:hover {
          text-decoration: underline;
          color: #00943a;
        }
        i {
          font-size: 20px; 
        }
      }
    }
  }
}
.uk-popular-title {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -25px;  
  margin: 0 auto;
  font-size: 20px;
  font-weight: 900;
  background-color: #fff;
  width: 30%; 
  padding: 8px 0;
  z-index: 100;
}

/* --== Front-Page==-- */

.uk-header-slider {
  .top-slider-home-page {
    .slick-slide {
      padding: 0; 
      &:after {
        content: "";
        position: absolute;
        background-color: rgba(0, 0, 0, 0.21);
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;      
      }

    }
    .uk-information-slide {
      position: absolute;
      left: 0;
      right: 0;
      top: 30%;  
      z-index: 100; 
      margin: 0 auto;
      p {
        color: #FFF;
        font-size: 35px;  
        font-weight: 700; 
        margin: 0;
      }
      span {
        color: #FFF;
        font-size: 25px;  
        margin-bottom: 60px;
      }
      a {
        color: #FFF;
        font-weight: 500;
        font-size: 17px;
        border: 1px solid #fff;
        padding:10px 35px;        
        margin: 0 auto;  
        @extend %transition_3;
        &:hover {
          text-decoration: none;
          background-color: rgba(211, 211, 211, 0.42);        }
        }
      }
    }
  }
  .uk-section-popular {
    h2 {
      font-weight: $text-bold; 
    }

  }
  .uk-section-about-us-front-page {
    a {
      color: #333;
      font-size: 18px; 
      border-bottom: 2px solid #00943a;
      font-weight: 700; 
      @extend %transition_3;
      &:hover {
        color: #00943a; 
        text-decoration: none; 
        border-bottom: 2px solid #333;
      }
    }
  }
  .uk-section-our-yarn {
    .uk-catalog-front-page {
      border: 2px solid #333;
      padding: 10px 20px;
      color: #333;
      font-weight: 500;  
      @extend %transition_3;
      text-decoration: none;
      &:hover {
        background-color: #00943a;
        color: #FFF;
      }
    }
  }
  .uk-container-small-600 {
    max-width: 600px;
  }
  .uk-section-questions {
    div.wpcf7-validation-errors {
      border: 2px solid #00943a;
    }
    .uk-cntact-form-question {
      margin: 0;
      input.wpcf7-text,
      textarea.wpcf7-textarea {
        width: 100%;
        resize: none;
        border: 1px solid #000; 
        padding: 9px 0px 9px 10px; 
        &:focus {
          outline: 1px solid #00943a;
          border: 1px solid #b4b4b4;
        }
      }
      .wpcf7-submit {
        border: 2px solid #333;
        padding: 10px 20px;
        color: #333;
        font-weight: 500;  
        background-color: transparent; 
        @extend %transition_3;
        text-decoration: none;
        cursor: pointer;
        font-size: 17px;
        font-family: 'Roboto', sans-serif;
        &:hover {
          background-color: #00943a;
          color: #FFF;
        }
        &:focus {
          border: 1px solid #00943a;
          outline: 0;

        }
      }
    } 
  }

  /* Slider-Front-Page */
  @charset "UTF-8";

// Default Variables

// Slick icon entity codes outputs the following
// "\2190" outputs ascii character "←"
// "\2192" outputs ascii character "→"
// "\2022" outputs ascii character "•"

// $slick-font-path: "./fonts/" !default;
$slick-font-family: "Roboto" !default;
$slick-loader-path: "./" !default;
$slick-arrow-color: white !default;
$slick-dot-color: black !default;
$slick-dot-color-active: $slick-dot-color !default;
$slick-prev-character: "\2190" !default;
$slick-next-character: "\2192" !default;
$slick-dot-character: "\2022" !default;
$slick-dot-size: 10px !default;
$slick-opacity-default: 1 !default;
$slick-opacity-on-hover: 1 !default;
$slick-opacity-not-active: 0.25 !default;

@function slick-image-url($url) {
  @if function-exists(image-url) {
    @return image-url($url);
  }
  @else {
    @return url($slick-loader-path + $url);
  }
}

@function slick-font-url($url) {
  @if function-exists(font-url) {
    @return font-url($url);
  }
  @else {
    @return url($slick-font-path + $url);
  }
}

/* Slider */
.slick-slide {
  outline: 0; 
  cursor: pointer;  
}
.slick-initialized .slick-slide {
  display: block;
  padding: 10px;
}
/* Arrows */

.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
  &:hover, &:focus {
    outline: none;
    background: transparent;
    color: transparent;
    &:before {
      opacity: $slick-opacity-on-hover;
    }
  }
  &.slick-disabled:before {
    opacity: $slick-opacity-not-active;
  }
  &:before {
    font-family: $slick-font-family;
    font-size: 20px;
    line-height: 1;
    color: $slick-arrow-color;
    opacity: $slick-opacity-default;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

.slick-prev {
  left: -25px;
  [dir="rtl"] & {
    left: auto;
    right: -25px;
  }
  &:before {
    content: url('../img/prev-arrow.png');
    position: absolute;
    right: 0;
    top: 0;
    opacity: 1;
  }
}
.slick-next {
  right: -25px;
  [dir="rtl"] & {
    left: -25px;
    right: auto;
  }
  &:before {
    content: url('../img/next-arrow.png');
    position: absolute;
    right: -11px;
    top: 0;
    opacity: 1;
  }
}

/* Dots */

.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
  li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
    button {
      border: 0;
      background: transparent;
      display: block;
      height: 20px;
      width: 20px;
      outline: none;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      padding: 5px;
      cursor: pointer;
      &:hover, &:focus {
        outline: none;
        &:before {
          opacity: $slick-opacity-on-hover;
        }
      }
      &:before {
        position: absolute;
        top: 0;
        left: 0;
        content: "";
        width: 12px;
        height: 12px;
        background-color: #02933f;
        -webkit-border-radius: 50%; 
        border-radius: 50%;  
        font-family: $slick-font-family;
        font-size: $slick-dot-size;
        line-height: 20px;
        text-align: center;
        color: $slick-dot-color;
        opacity: $slick-opacity-not-active;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }
    }
    &.slick-active button:before {
      color: $slick-dot-color-active;
      opacity: $slick-opacity-default;
    }
  }
}
/* --== /Front-Page ==-- */


/* --== About Us ==-- */
.uk-image-about-us {
  background-color: #333; 
  background-image: url('../img/about-us.jpg');
  height: 450px;
  -webkit-background-size: cover; 
  -o-background-size: cover; 
  background-size: cover; 
}
.uk-footer-image-a-us {
  background-image: url('../img/cones2.jpg');
  height: 300px;
  // -webkit-background-size: cover; 
  // -o-background-size: cover; 
  // background-size: cover; 
}

/* --== About Us ==-- */
#map {
  width: 100%;
  height: 400px;
  background-color: grey;
}
/* --== Conacts ==-- */
.uk-image-contacts {
  background-image: url('../img/contacts.jpg');
  height: 450px;
  -webkit-background-size: cover; 
  -o-background-size: cover; 
  background-size: cover; 
}
.uk-section-contacts {
  h2 {
    font-size: 17px;
    font-weight: 700;
    margin-bottom: 30px;
  }
  .uk-form-contacts {
    input,
    textarea {
      padding: 10px;
      max-width: 280px;
      border: 1px solid #333;
      &:focus {
        outline: 1px solid #00943a;
        border: 1px solid #b4b4b4;
      }
    }
    div.wpcf7-validation-errors {
      border: 2px solid #00943a;
      box-shadow: 0 0 2px #000;
    }
    .wpcf7-submit {
      border: 2px solid #333;
      padding: 10px 20px;
      color: #333;
      font-weight: 500;
      background-color: transparent;
      text-decoration: none;
      cursor: pointer;
      font-size: 17px;
      font-family: 'Roboto', sans-serif;
      @extend %transition_3;
      &:hover {
        background-color: #00943a;
        color: #FFF;
      }
    }
  }
  address {
    i {
      margin-right: 10px; 
      font-size: 18px; 
    }
  }
}
.uk-numberphone {
  line-height: 30px; 
  span:last-child,
  span:nth-child(2n) {
    margin-left: 24px;
  }
}
/* --== /Conacts ==-- */

/* --== Woocommerce ==-- */
.uk-image-archive-products {
  background: #333 url('../img/top-product.jpg') center center;
  height: 340px;
  -webkit-background-size: cover; 
  -o-background-size: cover; 
  background-size: cover; 
}
.entry-title {
  font-size: 30px;
  font-weight: 700;  
  font-family: $roboto; 
  text-transform: uppercase;
}
.uk-section-shop {
  .products {
    .onsale {
      position: absolute;
      top: 0;
      background-color: red;
      padding: 7px;
      color: #fff;
    }
  }
  // .flex-viewport {
  //  overflow: hidden;
  //  max-height: 350px;
  //  max-width: 350px;
  //  height: 274px;
  // }
  .price {
    del {
      color: #019441;
      font-weight: 500; 
    }
    ins {
      background: transparent;
      span {
        font-size: 21px;
        font-weight: 700;
        color: red;
      }
    }
  }
}
ol.flex-control-nav.flex-control-thumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; 
  -webkit-flex-direction: row; 
  -ms-flex-direction: row; 
  flex-direction: row; 
  list-style: none;
  padding: 0;
  li {
    padding: 0 10px 0 0; 
    width: 100px; 
    cursor: pointer;
    img {
      -webkit-transform: scale(1,1);
      -webkit-transition-timing-function: ease-out;
      -webkit-transition-duration: 550ms;
      -moz-transform: scale(1,1);
      -moz-transition-timing-function: ease-out;
      -moz-transition-duration: 550ms;
      &:hover {
        -webkit-transform: scale(1.1,1.1);
        -webkit-transition-timing-function: ease-out;
        -webkit-transition-duration: 550ms;
        -moz-transform: scale(1.1,1.1);
        -moz-transition-timing-function: ease-out;
        -moz-transition-duration: 550ms;
      }
    }
  }
}
.add_to_cart_button,
.product_type_simple {
  display: none; 
}
.woocommerce-loop-product__title {
  position: absolute;
  bottom: -20px;
  background-color: white;
  padding: 10px;
  left: 0;
  right: 0;
  text-align: center;
  width: 100px;
  margin: 0 auto;
  font-size: 16px;
  font-weight: 700;
  @extend %transition_3;
  &:hover {
    background-color: #e9e9e9;
  }
}
.woocommerce-products-header__title {
  font-weight: 700; 
  font-family: $roboto; 
  font-size: 25px; 
}
.woocommerce-loop-product__link {
  display: block;
}

ul.page-numbers {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 35px 0;
  li {
    padding: 0 10px; 
    font-size: 19px;
    span {
      color: green; 
      font-weight: 700; 
    }
    a {
      color: #212121;
      font-weight: 700;
    }

  }
}
nav.woocommerce-breadcrumb {
  margin: 20px 0;
}
.uk-category-product {
  a {
    color: #212121;
    text-transform: uppercase;
    font-weight: 500; 
    &:hover {
      font-weight: 700;
      text-decoration: none; 
    }
  }
}

.uk-add-to-cart {
  border: 2px solid #333;
  padding: 10px 20px;
  color: #333;
  font-weight: 500;
  background-color: transparent;
  text-decoration: none;
  cursor: pointer;
  font-size: 17px;
  font-family: 'Roboto', sans-serif;
  @extend %transition_3;
  &:hover {
    background-color: #00943a;
    color: #FFF;
  }
}
/* Checkout */
.woocommerce-billing-fields {
  text-align: center;
  .woocommerce-billing-fields__field-wrapper input,
  .woocommerce-billing-fields__field-wrapper textarea {
    width: 270px;
    padding: 10px; 
    resize:none;
    font-family: $roboto; 
    &:focus {
      outline: 1px solid #00943a;
      border: 1px solid #b4b4b4;
    } 
  }
  .woocommerce-billing-fields__field-wrapper textarea {
    height: 100px; 
  }
}
#order_review,
.woocommerce-order-details {
  .uk-table-checkout {
    width: 100%;
    text-align: left;
  }
  h3 {
    font-size: 20px;
    font-weight: 700;
    text-decoration: underline;
  }
  .uk-buy-button {
    input {
      border: 2px solid #333;
      padding: 10px 20px;
      color: #333;
      font-weight: 500;
      background-color: transparent;
      text-decoration: none;
      cursor: pointer;
      font-size: 17px;
      font-family: 'Roboto', sans-serif;
      @extend %transition_3;
      &:hover {
        background-color: #00943a;
        color: #FFF;
      }
    }
  }
  table {
    width: 100%;
    text-align: left;
    thead {
      background-color: rgba(225, 225, 225, 0.46);
    }
    td {
      padding-left: 10px;
      border-bottom: 1px solid #e9e9e9;
    }
    th {
      padding-left: 10px;
      border-bottom: 1px solid #e9e9e9;
      padding: 10px 0 10px 10px;
    }
    tbody {
      line-height: 50px;
      .product-name {
        color:#00943a;
        .product-quantity {
          color: initial; 
        }
      }
    }
    tfoot {
      line-height: 30px; 
    }
  }
}
nav.woocommerce-breadcrumb {
  a {
    color: #333;
    &:hover {
      color: #019441; 
    }
  }
}
.uk-order-details {
  list-style: none; 
  text-align: center;
  line-height: 40px;
  strong {
    letter-spacing: 3px; 
  }
}
.inspire_checkout_fields_additional_information {
  display: none; 
}

.entry-summary {
  i {
    margin-left: 5px; 
  }
  span.woocommerce-Price-amount {
    color: #019441;
    font-weight: 500;
  }
  .input-text {
    padding: 5px 0 5px 10px;
    &:focus {
      outline: 1px solid #00943a;
      border: 1px solid #b4b4b4;
    }
  }
}

.uk-top-hr {
  width: 300px;
  margin: 0 auto;
  margin-bottom: 20px; 
}
.uk-bottom-hr {
  width: 150px;
  margin: 0 auto; 
  margin-bottom: 40px; 
  margin-top: 20px; 
}
.pswp__caption__center {
  text-align: center;
}

/* --== 404 eror ==-- */

.error-404 {
  span {
    font-size: 100px;
    font-weight: 900; 
    color: #FFF;
    text-shadow: #00943a 1px 0px, #00943a 1px 1px, #00943a 0px 1px, #00943a -1px 1px, #00943a -1px 0px, #00943a -1px -1px, #00943a 0px -1px, #00943a 1px -1px; 
  }
  p {
    font-size: 18px;
    font-weight: 300;
    margin: 0;
  }
  ul {
    list-style: none; 
    padding: 0; 
    li {
      padding: 0 20px; 
      i {
        height: 20px;
        width: 20px;
        border: 1px solid #000;
        border-radius: 50%;
        padding: 10px;
        font-size: 20px;
        color: #444;
        -webkit-transform: scale(1,1);
        -webkit-transition-timing-function: ease-out;
        -webkit-transition-duration: 550ms;
        -moz-transform: scale(1,1);
        -moz-transition-timing-function: ease-out;
        -moz-transition-duration: 550ms;
        @extend %transition_3;
        &:hover {
          color: #000; 
          -webkit-transform: scale(1.2,1.2);
          -webkit-transition-timing-function: ease-out;
          -webkit-transition-duration: 550ms;
          -moz-transform: scale(1.2,1.2);
          -moz-transition-timing-function: ease-out;
          -moz-transition-duration: 550ms;
        }
      }
    }
  }
  hr.small-hr {
    width: 300px;
    margin: 0 auto;
  }
  hr.small-hr-top {
    width: 200px;
    margin: auto;
  }
}
/* --== /404 eror ==-- */
span.onsale {
  color: white;
  position: absolute;
  top: 0px;
  background-color: red;
  padding: 10px;
}
/* --== Footer ==-- */
.uk-footer {
  ul {
    padding: 0; 
    li {
      list-style: none;
      padding: 0 10px;  
    }
  }
  .uk-footer-copyright {
    border-top: 1px solid #bcbcbc;
  }
  address {
    line-height: 33px; 
    i {
      color: $main-color-text;
      padding-right: 10px; 
      font-size: 19px;   
    }
  }
  p {
    margin: 0; 
  }
}
.uk-social-icons {
  ul {
    list-style:none; 
    li {
      padding: 0 2px; 
    }
  }
  i {
    border: 2px solid #000;
    -webkit-border-radius: 50%; 
    border-radius: 50%;  
    height: 20px;
    width: 20px;  
    padding: 8px;
    font-size: 20px;
    cursor: pointer;
    color: #000;
    @extend %transition_3;
    -webkit-transform: scale(1,1);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 550ms;
    -moz-transform: scale(1,1);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 550ms;
    &:hover {
      color: #000; 
      -webkit-transform: scale(1.2,1.2);
      -webkit-transition-timing-function: ease-out;
      -webkit-transition-duration: 550ms;
      -moz-transform: scale(1.2,1.2);
      -moz-transition-timing-function: ease-out;
      -moz-transition-duration: 550ms;
    }
  }
}
// @import "_responsive";